name: Build and Publish docker image to DockerHub

on:
  push:
#     tags:
#       - "*.*.*"
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository main branch
        uses: actions/checkout@v2
        
      -  name: Set up JDK version
         uses: actions/setup-java@v3
         with:
          distribution: 'zulu'
          java-version: '17.0.3'
          
      - name: Build the project with Maven
        run: mvn -B package --file pom.xml
        
      - name: List files
        run: ls -la

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: jembi/dhis2-exporter-service:latest
